# Shopify Storefront Configuration
SHOPIFY_STORE_DOMAIN="your-store.myshopify.com"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="your-storefront-access-token"
SHOPIFY_REVALIDATION_SECRET="your-secret-key"

# Site Metadata
SITE_NAME="Tokyo Talkies"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_VERCEL_URL=""
TWITTER_CREATOR="@hrajsoni"
TWITTER_SITE="https://tokyotalkies.com"
